In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [90]:
data=pd.read_csv("data.csv")

In [91]:
data.head(6)

,What's your preferred study level?,"If Ph.D., do you already have a supervisor who's happy to work with you?","If Yes, has the supervisor approved your proposal?",What is your intended study area?,Choose the most preferred destination you would like to study?,Choose the second most preferred destination you would like to study?,Choose the third most preferred destination you would like to study?,What is the study plan month and year?,Have you contacted or shortlisted your University already?,Have you already started the application process directly with the university OR were you asked by the university to contact us to complete the application?,...,"If yes, choose the number of backlogs you had",How much are you planning to spend on your studies and the living costs per year?,So you mentioned that your budget is XXX lakhs. How are you going to fund your studies?,Are your parents in service or doing their own business?,Have you taken any English proficiency test?,"If yes, please provide the test","If yes, what was the score overall?",Have any of your family members studied abroad OR do you have any friends or family in the country that you want to study in?,Which other study abroad consultants are you in touch with for your application?,Lead converted flag
0,Undergraduate,NaN,NaN,Other,New Zealand,New Zealand,New Zealand,01-01-21,No,NaN,...,NaN,10 - 20 lakhs,Parents asset,Own business,Yes,IELTS,5.5,Yes,Not in touch with any other consultant,0
1,Undergraduate,NaN,NaN,Other,New Zealand,New Zealand,New Zealand,01-01-21,No,NaN,...,NaN,10 - 20 lakhs,Parents asset,Own business,Yes,IELTS,5.5,Yes,Not in touch with any other consultant,0
2,Doctorate,Yes,Yes,Other,UK,UK,UK,01-01-21,Yes,No,...,NaN,20 - 30 lakhs,Bank loan,Own business,Yes,IELTS,8.0,No,Not in touch with any other consultancy,1
3,Undergraduate,NaN,NaN,Engineering,Australia,Canada,New Zealand,01.09.2021,No,NaN,...,NaN,10 lakhs or under,Other,Own business,No,NaN,NaN,Yes,Did not contact to any other consultant,0
4,Vocational,NaN,NaN,Other,New Zealand,Ireland,Canada,01-01-21,No,NaN,...,NaN,10 - 20 lakhs,Bank loan,Own business,Yes,IELTS,6.5,Yes,Not in touch with anyone,0
5,Vocational,NaN,NaN,Engineering,Australia,Canada,UK,01-01-21,No,NaN,...,NaN,10 lakhs or under,Combined self /parent funding and bank loan,Own business,No,NaN,NaN,No,No one,0

In [92]:
data.columns

Index(['What's your preferred study level?',
       'If Ph.D., do you already have a supervisor who's happy to work with you?',
       'If Yes, has the supervisor approved your proposal?',
       'What is your intended study area?',
       'Choose the most preferred destination you would like to study?',
       'Choose the second most preferred destination you would like to study?',
       'Choose the third most preferred destination you would like to study?',
       'What is the study plan month and year?',
       'Have you contacted or shortlisted your University already?',
       'Have you already started the application process directly with the university OR were you asked by the university to contact us to complete the application?',
       'Currently, are you a student or a working professional?',
       'How much work experience do you have?',
       'Please mention year of birth?', 'Do you already have a passport?',
       'We would like to know bit better about your academic achievements so far. So have you had any backlogs?',
       'If yes, choose the number of backlogs you had',
       'How much are you planning to spend on your studies and the living costs per year?',
       'So you mentioned that your budget is XXX lakhs. How are you going to fund your studies?',
       'Are your parents in service or doing their own business?',
       'Have you taken any English proficiency test?',
       'If yes, please provide the test',
       'If yes, what was the score overall?',
       'Have any of your family members studied abroad OR do you have any friends or family in the country that you want to study in?',
       'Which other study abroad consultants are you in touch with for your application?',
       'Lead converted flag'],
      dtype='object')

In [93]:
data.columns = [
    'preferred_study_level', 
    'phd_supervisor', 
    'supervisor_approval', 
    'intended_study_area', 
    'preferred_dest_1', 
    'preferred_dest_2', 
    'preferred_dest_3', 
    'study_plan', 
    'uni_contacted', 
    'application_process', 
    'current_status', 
    'work_experience', 
    'birth_year', 
    'passport', 
    'academic_backlogs', 
    'number_of_backlogs', 
    'budget', 
    'funding_source', 
    'parents_occupation', 
    'english_test_taken', 
    'english_test_name', 
    'english_test_score', 
    'family_abroad', 
    'other_consultants', 
    'lead_converted_flag'
]

In [94]:
data.columns

Index(['preferred_study_level', 'phd_supervisor', 'supervisor_approval',
       'intended_study_area', 'preferred_dest_1', 'preferred_dest_2',
       'preferred_dest_3', 'study_plan', 'uni_contacted',
       'application_process', 'current_status', 'work_experience',
       'birth_year', 'passport', 'academic_backlogs', 'number_of_backlogs',
       'budget', 'funding_source', 'parents_occupation', 'english_test_taken',
       'english_test_name', 'english_test_score', 'family_abroad',
       'other_consultants', 'lead_converted_flag'],
      dtype='object')

In [95]:
df=data
df.head(5)

,preferred_study_level,phd_supervisor,supervisor_approval,intended_study_area,preferred_dest_1,preferred_dest_2,preferred_dest_3,study_plan,uni_contacted,application_process,...,number_of_backlogs,budget,funding_source,parents_occupation,english_test_taken,english_test_name,english_test_score,family_abroad,other_consultants,lead_converted_flag
0,Undergraduate,NaN,NaN,Other,New Zealand,New Zealand,New Zealand,01-01-21,No,NaN,...,NaN,10 - 20 lakhs,Parents asset,Own business,Yes,IELTS,5.5,Yes,Not in touch with any other consultant,0
1,Undergraduate,NaN,NaN,Other,New Zealand,New Zealand,New Zealand,01-01-21,No,NaN,...,NaN,10 - 20 lakhs,Parents asset,Own business,Yes,IELTS,5.5,Yes,Not in touch with any other consultant,0
2,Doctorate,Yes,Yes,Other,UK,UK,UK,01-01-21,Yes,No,...,NaN,20 - 30 lakhs,Bank loan,Own business,Yes,IELTS,8.0,No,Not in touch with any other consultancy,1
3,Undergraduate,NaN,NaN,Engineering,Australia,Canada,New Zealand,01.09.2021,No,NaN,...,NaN,10 lakhs or under,Other,Own business,No,NaN,NaN,Yes,Did not contact to any other consultant,0
4,Vocational,NaN,NaN,Other,New Zealand,Ireland,Canada,01-01-21,No,NaN,...,NaN,10 - 20 lakhs,Bank loan,Own business,Yes,IELTS,6.5,Yes,Not in touch with anyone,0

In [96]:
df["preferred_study_level"].value_counts()

preferred_study_level
Postgraduate     1301
Undergraduate     407
Vocational        246
Other               5
Doctorate           3
Name: count, dtype: int64

In [97]:
df["preferred_study_level"]=df["preferred_study_level"].fillna("Other")

In [98]:
df["preferred_study_level"].value_counts()

preferred_study_level
Postgraduate     1301
Undergraduate     407
Vocational        246
Other               5
Doctorate           3
Name: count, dtype: int64

In [99]:
"""
encoder = LabelEncoder()
df["preferred_study_level"] = encoder.fit_transform(df["preferred_study_level"])

df["preferred_study_level"]
"""

'\nencoder = LabelEncoder()\ndf["preferred_study_level"] = encoder.fit_transform(df["preferred_study_level"])\n\ndf["preferred_study_level"]\n'

In [100]:
df["phd_supervisor"]=df["phd_supervisor"].fillna("No")

In [101]:
df["phd_supervisor"].value_counts()

phd_supervisor
No     1961
Yes       1
Name: count, dtype: int64

In [102]:
df["supervisor_approval"]=df["supervisor_approval"].fillna("No")
df["supervisor_approval"].value_counts()

supervisor_approval
No     1961
Yes       1
Name: count, dtype: int64

In [103]:
df["intended_study_area"]=df["intended_study_area"].fillna("Other")
df["intended_study_area"].value_counts()

intended_study_area
Business & Economics                           293
Engineering                                    289
Other                                          201
Computer Science and Information Technology    198
Sciences                                        77
                                              ...
Law                                              1
Vetenary                                         1
Oceanography                                     1
International Business                           1
Life Sciences                                    1
Name: count, Length: 270, dtype: int64

In [104]:
df["preferred_dest_1"]=df["preferred_dest_1"].fillna("Other")
df["preferred_dest_1"].value_counts()

preferred_dest_1
Canada         653
UK             515
Australia      355
USA            340
New Zealand     54
Ireland         45
Name: count, dtype: int64

In [105]:
df["preferred_dest_2"]=df["preferred_dest_2"].fillna("Other")
df["preferred_dest_2"].value_counts()

preferred_dest_2
Other          804
Canada         398
UK             243
Australia      226
USA            167
Ireland         66
New Zealand     58
Name: count, dtype: int64

In [106]:
df["preferred_dest_3"]=df["preferred_dest_3"].fillna("Other")
df["preferred_dest_3"].value_counts()

preferred_dest_3
Other          1181
Canada          222
Australia       169
UK              158
USA             114
New Zealand      60
Ireland          58
Name: count, dtype: int64

In [107]:
'''# Define the country-to-numeric mapping
country_mapping = {
    'Canada': 0,
    'UK': 1,
    'Australia': 2,
    'USA': 3,
    'New Zealand': 4,
    'Ireland': 5,
    'Other': 6  # Include 'Other' as a placeholder value
}

# Apply the mapping and fill missing values with -1
df["preferred_dest_1"] = df["preferred_dest_1"].map(country_mapping).fillna(6).astype(int)
df["preferred_dest_2"] = df["preferred_dest_2"].map(country_mapping).fillna(6).astype(int)
df["preferred_dest_3"] = df["preferred_dest_3"].map(country_mapping).fillna(6).astype(int)

# Display the first few rows to verify the transformation
print(df.head())
'''

'# Define the country-to-numeric mapping\ncountry_mapping = {\n    \'Canada\': 0,\n    \'UK\': 1,\n    \'Australia\': 2,\n    \'USA\': 3,\n    \'New Zealand\': 4,\n    \'Ireland\': 5,\n    \'Other\': 6  # Include \'Other\' as a placeholder value\n}\n\n# Apply the mapping and fill missing values with -1\ndf["preferred_dest_1"] = df["preferred_dest_1"].map(country_mapping).fillna(6).astype(int)\ndf["preferred_dest_2"] = df["preferred_dest_2"].map(country_mapping).fillna(6).astype(int)\ndf["preferred_dest_3"] = df["preferred_dest_3"].map(country_mapping).fillna(6).astype(int)\n\n# Display the first few rows to verify the transformation\nprint(df.head())\n'

In [108]:
import pandas as pd
from datetime import datetime

# Assuming 'data' is the DataFrame and 'study_plan' is the column to standardize
def standardize_study_plan(date_str):
    try:
        # Try parsing directly for formats like 'Jan-21', 'Sep-21'
        date = pd.to_datetime(date_str, format='%b-%y')
    except ValueError:
        try:
            # Try parsing for formats like '01.09.2021'
            date = pd.to_datetime(date_str, format='%d.%m.%Y')
        except ValueError:
            try:
                # Catch other formats
                date = pd.to_datetime(date_str)
            except ValueError:
                # Return None if parsing fails
                return None
    
    # Convert to MM-YYYY format
    return date.strftime('%m-%Y')

# Apply the function to the 'study_plan' column
df['study_plan'] = df['study_plan'].apply(standardize_study_plan)

# Check the result
print(df['study_plan'])

0       01-2021
1       01-2021
2       01-2021
3       09-2021
4       01-2021
         ...
1957    06-2005
1958    01-2022
1959    01-2021
1960    01-2021
1961    01-2021
Name: study_plan, Length: 1962, dtype: object

In [109]:
df['uni_contacted']=df['uni_contacted'].fillna("No")
df['uni_contacted'].value_counts()

uni_contacted
No     1643
Yes     319
Name: count, dtype: int64

In [110]:
df['application_process']=df['application_process'].fillna("No")
df["application_process"].value_counts()

application_process
No     1943
Yes      19
Name: count, dtype: int64

In [111]:
df["current_status"]=df["current_status"].fillna("Other")
df["current_status"].value_counts()

current_status
Student                 1267
Working professional     695
Name: count, dtype: int64

In [112]:
df["work_experience"].value_counts()

work_experience
1 - 3 years of work exp    335
4 - 6 years of work exp    141
7+ years of work exp       113
< 1 year of work exp       106
Name: count, dtype: int64

In [113]:
import pandas as pd

# Example DataFrame (assuming you have this column in your DataFrame)
# Mapping the original work experience strings to simplified versions
work_experience_map = {
    '1 - 3 years of work exp': '1-3',
    '4 - 6 years of work exp': '4-6',
    '7+ years of work exp': '7+',
    '< 1 year of work exp': '<1'
}

# Replace the values in the 'work_experience' column
df['work_experience'] = df['work_experience'].replace(work_experience_map)
df['work_experience'] = df['work_experience'].fillna(0)

# Verify the changes
print(df['work_experience'].value_counts())

work_experience
0      1267
1-3     335
4-6     141
7+      113
<1      106
Name: count, dtype: int64

In [114]:
df["birth_year"]

0           1997.00
1           1997.00
2              3.02
3       19042002.00
4           1986.00
           ...
1957        1993.00
1958        2002.00
1959        1996.00
1960        1999.00
1961        1997.00
Name: birth_year, Length: 1962, dtype: float64

In [115]:
import pandas as pd

# Function to clean and convert birth year values
def clean_birth_year(value):
    try:
        # If the value looks like a valid year (e.g., in the range 1900 - 2100), convert it
        if 1900 <= float(value) <= 2100:
            return int(float(value))
        # Handle cases where there might be larger incorrect values (e.g., 19042002)
        elif value > 2100:
            return int(str(int(float(value)))[-4:])  # Take the last 4 digits
        else:
            return None  # Return None for invalid values
    except (ValueError, TypeError):
        return None  # If conversion fails, return None

# Apply the function to the 'birth_year' column
df['birth_year'] = df['birth_year'].apply(clean_birth_year)
# Fill NaN values with 0 or some other value before conversion to integer
df['birth_year'] = df['birth_year'].fillna(0)

# Convert the 'birth_year' column to integer (this removes the '.0')
df['birth_year'] = df['birth_year'].astype(int)

# Verify the result
print(df['birth_year'].head())


# Check the result
print(df['birth_year'].head())

0    1997
1    1997
2       0
3    2002
4    1986
Name: birth_year, dtype: int32
0    1997
1    1997
2       0
3    2002
4    1986
Name: birth_year, dtype: int32

In [116]:
df['birth_year'].value_counts()

birth_year
1999    229
1998    220
1997    184
1996    173
2000    167
1995    153
2002    145
2001    117
2003    100
1994     95
1993     65
1992     59
1991     46
2004     33
1990     26
1989     22
1988     21
1987     16
1986     15
1984     13
1985     12
1983     12
2005      8
1981      6
0         4
1979      3
1982      3
1980      3
1973      2
1970      1
1975      1
2007      1
1         1
1978      1
1976      1
1967      1
2006      1
1972      1
1969      1
Name: count, dtype: int64

In [117]:
df["passport"]=df["passport"].fillna("No")
df["passport"].value_counts()

passport
Yes    1403
No      559
Name: count, dtype: int64

In [118]:
df["academic_backlogs"]=df["academic_backlogs"].fillna("No")
df["academic_backlogs"].value_counts()

academic_backlogs
No     1613
Yes     349
Name: count, dtype: int64

In [119]:
df["number_of_backlogs"]=df["number_of_backlogs"].fillna(0)
df["number_of_backlogs"].value_counts()

number_of_backlogs
0         1613
< 5        251
06-Oct      53
> 10        45
Name: count, dtype: int64

In [120]:
# Mapping the number_of_backlogs values to a simplified format
df['number_of_backlogs'] = df['number_of_backlogs'].str.strip()
number_of_backlogs_map = {
    '06-Oct': "6",
    '< 5': "<5",
    '> 10': ">10"
}

# Replace the values in the 'number_of_backlogs' column
df['number_of_backlogs'] = df['number_of_backlogs'].replace(number_of_backlogs_map)

# Fill NaN values with 0
df['number_of_backlogs'] = df['number_of_backlogs'].fillna(0)

# Verify the changes
print(df['number_of_backlogs'].value_counts())

number_of_backlogs
0      1613
<5      251
6        53
>10      45
Name: count, dtype: int64

In [121]:
df['budget'].value_counts()

budget
Not provided         1140
10 - 20 lakhs         387
10 lakhs or under     228
20 - 30 lakhs         137
30 lakhs and over      70
Name: count, dtype: int64

In [122]:
# Mapping the budget values to the desired simplified format
budget_map = {
    'Not provided': 'Not provided',
    '10 - 20 lakhs': '10-20',
    '10 lakhs or under': '<10',
    '20 - 30 lakhs': '20-30',
    '30 lakhs and over': '>30'
}

# Replace the values in the 'budget' column
df['budget'] = df['budget'].replace(budget_map)

# Verify the changes
print(df['budget'].value_counts())

budget
Not provided    1140
10-20            387
<10              228
20-30            137
>30               70
Name: count, dtype: int64

In [123]:
# Fill NaN values in the 'budget' column with 'Not provided'
df['budget'] = df['budget'].fillna('Not provided')

# Verify the changes
print(df['budget'].value_counts())

budget
Not provided    1140
10-20            387
<10              228
20-30            137
>30               70
Name: count, dtype: int64

In [124]:
df["funding_source"]=df["funding_source"].fillna("Not provided")
df["funding_source"].value_counts()

funding_source
Parents asset                                  1096
Combined self /parent funding and bank loan     255
Bank loan                                       217
Self funding                                    210
Other                                            99
Not provided                                     72
Sponsorship by relatives                         13
Name: count, dtype: int64

In [125]:
df["parents_occupation"]=df["parents_occupation"].fillna("Not provided")
df['parents_occupation'].value_counts()

parents_occupation
In-Service      721
Own business    702
Not provided    539
Name: count, dtype: int64

In [126]:
df["english_test_taken"]=df["english_test_taken"].fillna("No")
df["english_test_taken"].value_counts()

english_test_taken
No     1696
Yes     266
Name: count, dtype: int64

In [127]:
df["english_test_name"]=df["english_test_name"].fillna("Not Taken")
df['english_test_name'].value_counts()

english_test_name
Not Taken    1696
IELTS         210
Other          19
GRE            19
TOEFL          16
GMAT            2
Name: count, dtype: int64

In [128]:
df["english_test_score"]=df["english_test_score"].fillna(0)
df["english_test_score"].value_counts()

english_test_score
0.0      1696
6.0        53
6.5        52
7.0        43
7.5        24
5.5        21
8.0        19
8.1         4
62.0        2
314.0       2
301.0       2
318.0       2
8.5         2
7.9         2
89.0        1
322.0       1
93.0        1
79.0        1
81.0        1
80.0        1
320.0       1
345.0       1
118.0       1
313.0       1
4.0         1
49.0        1
100.0       1
310.0       1
90.0        1
54.0        1
5.0         1
299.0       1
56.0        1
702.0       1
103.0       1
10.0        1
294.0       1
106.0       1
321.0       1
120.0       1
315.0       1
500.0       1
8.2         1
309.0       1
135.0       1
6.7         1
110.0       1
63.0        1
98.0        1
290.0       1
306.0       1
68.0        1
Name: count, dtype: int64

In [129]:
df["family_abroad"]=df["family_abroad"].fillna("No")
df["family_abroad"].value_counts()

family_abroad
Yes    990
No     972
Name: count, dtype: int64

In [136]:
# Define the mapping to standardize all relevant values as 'no'
other_consultants_map = {
    'none': 'No',
    'No': 'No',
    'None yet.': 'No',
    'no': 'No',
    'No did not contact': 'No',
    'not in touch with anyone': 'No',
    'NONE': 'No',
    'Not in touch with any other consultant': 'No',
    'Not in touch with anyone.': 'No',
    'not comfortable share': 'No',
    'NO':'No'
    
}

# Replace the values in the 'other_consultants' column
df['other_consultants'] = df['other_consultants'].replace(other_consultants_map)

# Fill NaN values with 'no' if needed
df['other_consultants'] = df['other_consultants'].fillna('No')

# Verify the changes
print(df['other_consultants'].value_counts())

other_consultants
No                                                                          1852
Not Provided                                                                   4
No did not contact                                                             4
yes                                                                            3
not remember                                                                   2
                                                                            ...
Only in touch with IDP                                                         1
Yocket, ubergrad and eduins \n                                                 1
He had a word with UK UNIVERSTIES regarding his higher studies in aborad       1
Krishna Consultant.                                                            1
In touch AECC Global                                                           1
Name: count, Length: 100, dtype: int64

In [137]:
df["lead_converted_flag"]

0       0
1       0
2       1
3       0
4       0
       ..
1957    0
1958    0
1959    0
1960    0
1961    0
Name: lead_converted_flag, Length: 1962, dtype: int64

In [138]:
df.head(5)

,preferred_study_level,phd_supervisor,supervisor_approval,intended_study_area,preferred_dest_1,preferred_dest_2,preferred_dest_3,study_plan,uni_contacted,application_process,...,number_of_backlogs,budget,funding_source,parents_occupation,english_test_taken,english_test_name,english_test_score,family_abroad,other_consultants,lead_converted_flag
0,Undergraduate,No,No,Other,New Zealand,New Zealand,New Zealand,01-2021,No,No,...,0,10-20,Parents asset,Own business,Yes,IELTS,5.5,Yes,No,0
1,Undergraduate,No,No,Other,New Zealand,New Zealand,New Zealand,01-2021,No,No,...,0,10-20,Parents asset,Own business,Yes,IELTS,5.5,Yes,No,0
2,Doctorate,Yes,Yes,Other,UK,UK,UK,01-2021,Yes,No,...,0,20-30,Bank loan,Own business,Yes,IELTS,8.0,No,Not in touch with any other consultancy,1
3,Undergraduate,No,No,Engineering,Australia,Canada,New Zealand,09-2021,No,No,...,0,<10,Other,Own business,No,Not Taken,0.0,Yes,Did not contact to any other consultant,0
4,Vocational,No,No,Other,New Zealand,Ireland,Canada,01-2021,No,No,...,0,10-20,Bank loan,Own business,Yes,IELTS,6.5,Yes,No,0

In [147]:
df.iloc[3, 10:25]

current_status                                          Student
work_experience                                               0
birth_year                                                 2002
passport                                                     No
academic_backlogs                                            No
number_of_backlogs                                            0
budget                                                      <10
funding_source                                            Other
parents_occupation                                 Own business
english_test_taken                                           No
english_test_name                                     Not Taken
english_test_score                                          0.0
family_abroad                                               Yes
other_consultants      Did not contact to any other consultant
lead_converted_flag                                           0
Name: 3, dtype: object

In [141]:
csv_file_path = 'Clean_data.csv'  # Save in the current working directory

# Save the DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)

print(f"DataFrame saved to {csv_file_path}")

DataFrame saved to Clean_data.csv

AttributeError: 'DataFrame' object has no attribute 'random'